

.icon-button{
    height: 44px;
    width: 44px;
    background-color: var(--surface1);
    border-radius: 15px;
    border: 2.5px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}


.icon-button:hover{
    background-color: var(--surface2);
    scale: 1.08;
    border: 2.5px solid var(--beauty);
}




.icon{
    font-size: 30px;
    color: var(--text);
    transition: 0.2s;
}


.icon-button:hover .icon{
    color: var(--beauty);
}
