


.input-box{
  width: 220px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-bottom: -10px;
}

.input-field{
  width: 100%;
  height: 44px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  border: 2.5px solid var(--text);
  padding: 0 20px;
  z-index: 111;
  transition: 0.5s ease;
  caret-color: var(--text);
  color: var(--text);
  align-self: center;
}

.input-label{
  position: relative;
  color: var(--text);
  left: 0px;
  bottom: 38px;
  font-size: 14px;
  transition: 0.5s ease;
  background-color: var(--container);
  padding: 4px;
  width: fit-content;
}


.input-label{
  font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.input-field:focus{
  border: 3px solid var(--primary);
  caret-color: var(--primary);
  color: var(--primary);
}

.input-field:valid + .input-label{
  z-index: 112;
  left: -16px;
  bottom: 60px;
  scale: 0.88;
}

.input-field:focus + .input-label{
  z-index: 112;
  left: -16px;
  bottom: 60px;
  scale: 0.88;
  color: var(--primary)
}
