
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


body{
    margin: 0;
    padding: 0;
}

.dark-theme{
    --background: #181926;
    --container: #363a4f;
    --container2: #5b6078;
    --primary: #ed8796;
    --text: #cad3f5;
    --button-background: #f4dbd6;
    --button-background-dark: #7dc4e4;
    --surface1: #51576d;
    --surface2: #626880;
    --beauty: #f2d5cf;
}



.title-font{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
}

.normal-font{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
